<!DOCTYPE html>
<html>
<head>
    <title>Listado de Productos</title>
</head>
<body>
    <h1>Listado de Productos</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio Actual</th>
                <th>Stock</th>
                <th>Proveedor</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>${{ producto.precio_actual }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>{{ producto.proveedor.nombre }}</td>
                    <td>{{ producto.categoria.nombre }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
