<!DOCTYPE html>
<html>
<head>
    <title>Listado de Categorías</title>
</head>
<body>
    <h1>Listado de Categorías</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.nombre }}</td>
                    <td>{{ categoria.descripcion }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
